*.egg-info
__pycache__
sbb_newspapers_org_image/pylint.log
default-2021-03-09
output.html
/build
*.tif
*.sw?
TAGS
uv.lock
/dist
/ignore
*.log
.env
models/reloaded
models/packages
models/models_eynollah
models/pretrained_model
