# ocrd includes opencv, numpy, shapely, click
ocrd >= 2.23.3
numpy <1.24.0
scikit-learn >= 0.23.2
tensorflow < 2.13
imutils >= 0.5.3
matplotlib
setuptools >= 50
transformers <= 4.30.2
torch <= 2.0.1
numba <= 0.58.1
