version: 2

jobs:

  build-python37:
    docker:
      - image: python:3.7
    steps:
      - checkout
      - restore_cache:
          keys:
            - model-cache
      - run: make models
      - save_cache:
          key: model-cache
          paths:
            models_eynollah.tar.gz
            models_eynollah
      - run: make install
      - run: make smoke-test

  build-python38:
    docker:
      - image: python:3.8
    steps:
      - checkout
      - restore_cache:
          keys:
            - model-cache
      - run: make models
      - save_cache:
          key: model-cache
          paths:
            models_eynollah.tar.gz
            models_eynollah
      - run: make install
      - run: make smoke-test

workflows:
  version: 2
  build:
    jobs:
      #- build-python36
      - build-python37
      - build-python38